<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 82.0 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=0f5887b2eb226fc2e2d805e49f966ef4487a5232dd9271d5ea2102422e854c77
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [6]:
%sql ibm_db_sa://f7424510:C7OUGmoXCW0u1AXq@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb?security=SSL

'Connected: f7424510@bludb'

In [9]:
%sql SELECT * FROM SPACEX LIMIT 2

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACEX

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',),
 (None,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql SELECT * FROM SPACEX WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 12, 3), '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [77]:
%sql SELECT CUSTOMER, SUM(PAYLOAD_MASS__KG_) AS TOTAL_MASS FROM SPACEX WHERE CUSTOMER = 'NASA (CRS)' GROUP BY CUSTOMER

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('NASA (CRS)', 22007)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [18]:
%sql SELECT BOOSTER_VERSION, AVG(PAYLOAD_MASS__KG_) AS AVG FROM SPACEX WHERE BOOSTER_VERSION = 'F9 v1.1' GROUP BY BOOSTER_VERSION

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('F9 v1.1', 3676)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [21]:
%sql SELECT DISTINCT LANDING_OUTCOME FROM SPACEX

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 (None,)]

In [23]:
%sql SELECT MIN(DATE) AS MIN_DATE FROM SPACEX WHERE LANDING_OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[(datetime.date(2017, 5, 1),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEX WHERE LANDING_OUTCOME = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 5999

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696), ('F9 FT  B1031.2', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [29]:
%sql SELECT DISTINCT MISSION_OUTCOME, COUNT(*) AS Total_Count FROM SPACEX GROUP BY MISSION_OUTCOME

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('Success', 44), ('Success (payload status unclear)', 1), (None, 898)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [31]:
%sql SELECT DISTINCT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEX WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEX)

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1060.2', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [75]:
%sql SELECT DATE, SUBSTR(DATE,1,4) AS YEAR, SUBSTR(DATE,6,2) AS MONTH, LANDING_OUTCOME, BOOSTER_VERSION FROM SPACEX WHERE SUBSTR(DATE,1,4) = '2015' AND LANDING_OUTCOME LIKE '%drone%'

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[(datetime.date(2015, 1, 10), '2015', '01', 'Failure (drone ship)', 'F9 v1.1 B1012')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [66]:
%sql SELECT DISTINCT LANDING_OUTCOME, MISSION_OUTCOME, COUNT(*) AS TOTAL FROM SPACEX WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME, MISSION_OUTCOME ORDER BY TOTAL DESC

 * ibm_db_sa://f7424510:***@fea45b6d-528a-41dc-af39-b5daad24fcbd.bv7c3o6d0vfhru3npds0.databases.appdomain.cloud:30466/bludb
   sqlite:///my_data1.db
Done.

[('No attempt', 'Success', 7),
 ('Failure (drone ship)', 'Success', 2),
 ('Failure (parachute)', 'Success', 2),
 ('Success (drone ship)', 'Success', 2),
 ('Controlled (ocean)', 'Success', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>